/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    color: #495057;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.67;
    background: #F8F9FA;
}

.wrapper {
    overflow: clip;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.wrapper > main {
    flex-grow: 1;
}


/*    start    */

.main {}

.main__container {
    max-width: 1270px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.main__wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.menu {}

.menu__filter {
    font-weight: 500;
    line-height: 2.08;
    opacity: 0.6;
    transition: all 0.3s;
}

.menu__filter:hover {
    opacity: 1;
    transition: all 0.3s;
}

.menu__filter span {
    padding-left: 5px;
}

.menu__sort {}

.sort {}

.sort__item {
    font-weight: 500;
    line-height: 2.08;
}

.sort__item:not(:last-child) {
    margin-right: 20px;
}

.sort__item--active {
    color: rgba(73, 80, 87, 0.5);
    transition: all 0.3s;
}

.sort__item--active:hover {
    color: #495057;
    transition: all 0.3s;
}

.main__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 45px;
    margin-bottom: 60px;
}

.catalog {
}

.catalog__card {
    display: flex;
    flex-direction: column;
    max-width: 393px;
}

.card {}

.card__image {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.image {}

.image__content {
    border-radius: 3px;
    position: relative;
}

.image__content img {
    transition: all 0.8s;
}

.image__content img:hover {
    transform: scale(1.1);
    transition: all 0.8s;
}

.image__button:hover {
    transform: scale(1.1);
    transition: all 0.4s;
    color: rgba(33, 37, 41, 0.908);
    background: #F8F9FA;
}

.image__button {
    position: absolute;
    top: 30px;
    left: 300px;
    z-index: 5;

    font-weight: 700;
    font-size: 8px;
    line-height: 2.5px;
    text-align: center;
    color: #F8F9FA;
    background: rgba(33, 37, 41, 0.3);
    border-radius: 3px;
    padding: 3px 12px;
    transition: all 0.4s;
}

.card__content {}

.card__content > *:not(:last-child) {
    margin-bottom: 15px;
}

.content {}

.content__date {}

.content__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #212529;
    transition: all 0.3s;
}

.content__title:hover {
    color: rgba(199, 152, 35, 0.79);
    transition: all 0.3s;

}

.content__text {}

.content__author {
    padding-top: 15px;
    border-top: 1px solid #E5E5E5;
    transition: all 0.3s;
}

.content__author a:hover {
    color: rgba(199, 152, 35, 0.79);
    text-decoration: underline;
    transition: all 0.3s;
}

.main__button {
    display: flex;
    justify-content: center;
}

.main__button--link {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.08;
    text-align: center;
    color: #F8F9FA;

    background: #212529;
    border-radius: 3px;
    padding: 8px 50px;
    transition: all 0.5s;
}

.main__button--link:hover {
    transform: scale(0.9);
    transition: all 0.5s;
}