/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");



/*    start    */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 1440px;
    margin: 0 auto;
    background: #F8F9FA;
}

main {
    width: 1240px;
    margin: 0 auto;
}

h2 {
    color: #212529;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    max-width: 605px;
    margin: 0 0 40px 0;
}


.text {
    font-weight: 300;
    line-height: 1.8;
    color: #6C757D;
    max-width: 816px;
    margin: 80px auto;
}

.text p {
    margin: 0 0 35px 0;
}

.photo {
    margin: 0 25px 0 0;
}

.fantom {
    font-size: 0;
}



